<!--<p>Login </p>-->
<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
  <input type="text" name="emailid" placeholder="Enter email" ngModel>
  <br />
  <input type="password" name="password" placeholder="Enter password" ngModel>
  <br /><br />
  <!--<button type="submit" value="submit" class="btn btn-primary" style="width:100%;">Login</button>-->
  <button type="submit">Login</button>

</form>



<!--<input type="text" placeholder="Enter Username" name="uname" required>
<input type="text" name="emailid" placeholder="Enter email" ngModel>-->


